@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .promotion_nav,
    .explanation_heading span,
    .main_manu_area,
    .footer_wrap,
    .duty,
    .footer_logo_wrap,
    .login_wrap,
    .status-wrap {
        display: none;
    }
    .login_wrap_mobil, .login_wrap {
        padding: 10px 0;
    }
    .link_wrap ul {
        justify-content: flex-start;
        color: #005dac;
    }
    .footer_license_item {
        flex-direction: column;
    }
    .gaming_license {
        margin-top: 40px;
    }
    .social_media_item img, .payment_item img {
        filter: none;
        opacity: 1;
    }
    .social_media {
        margin-top: 20px;
    }
    .gaming_license h5,
    .ambassador h5,
    .sponsors h5,
    .social_media h5,
    .payment h5,
    .duty h5{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: .625rem;
    color: #555;
    }
    .container-fluid{
        padding: 0;
    }
    .footer_area{
        margin-bottom: 60px;
    }
    /* promotions css */
    .promotion_contain {
        grid-template-columns: repeat(1,1fr);
        gap: 12px;
    }
    .product_item {
        margin: auto;
    }
    .explanation_heading h3 {
        margin: 8px 0;
        font-size: 20px;
        color: #000000;
    }
    .explanation_wrap .time,
    .explanation_wrap .text {
        color: #000;
    }
    .explanation_btn .btnSame{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .explanation_btn {
        max-width: 100%;
        column-gap: 14px;
    }
    .btnSame_2 {
        background: #005dac;
    }
    .btnSame_2:hover{
        color: #fff;
        background: #034f91;
        background-position: 50%0;
        box-shadow: 0 5px 10px 0 rgba(6,8,15,.1),inset 0 0 3px 0#ffdd8f;
        text-shadow: 0 1px 3px #3b791c;
    }
    /* lottery */
    .lottery_game_inner {
        grid-template-columns: repeat(4,1fr);
        align-items: center;
    }
}

@media (max-width: 768px) {
    .footer_logo img {
        max-width: 110px;
    }
    .link_wrap ul{
        margin-bottom: 0;
    }
    .footer_logo_item {
        max-width: 420px;
    }
    .sponsors_item {
        max-width: 350px;
        column-gap: 44px;
    }
    .signup_btn {
        font-size: 18px;
        padding: 16px;
    }
    .login_btn {
        font-size: 18px;
        padding: 16px;
    }
    .single_bottom_item a{
        padding: 8px;
      }
    
    /* promotions css */
    .explanation_btn .btnSame{
        font-size: 14px;
    }
    /* lottery */
    .lottery_game_inner {
        grid-template-columns: repeat(2,1fr);
    }
    
    
}

@media (max-width: 576px) {
    .footer_logo img {
        max-width: 80px;
    }
    .gaming_license img {
        height: 2.125rem;
    }
    .sponsors ul li img {
        max-width: 40px;
    }
}
@media (max-width: 450px) {
    .link_wrap p {
        text-align: end;
        font-size: 11px;
    }
    .footer_area{
        margin-bottom: 40px;
    }
    /* promotions css */
    .btnSame {
        padding: 6px 10px;
    }
    /* lottery */
}
@media (max-width: 367px){
    .footer_logo img {
        max-width: 55px;
    }
    .link_wrap p {
        font-size: 10px;
    }
}